.w3-bar .w3-button {
  padding: 16px;
}

.w3-bar-item img{
  width: 19%;
}

.w3-animate-right{
  animation: animateright 1s;
}

@media  screen and (min-width: 601px) {
  #mySidebar{
  display: none!important;
}
}

body {
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

.mySlides {
  width:100%;
  height: 500px;
  margin-top: 45px;
  display:none;
}

.mySlides-1{
  height: 1px;
}

@media  screen and (max-width: 426px){
  .mySlides{
    width: 100%;
    height: 190px;
  }
}

.order img{
    width: 1%;
}

.Weserve{
  text-align: center;
  font-size: 78px;
  font-family: 'Dancing Script', cursive;
  color: red;
  margin-top: 30px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

@media  screen and (max-width: 426px) {
  .Weserve{
    font-size: 44px;
    margin-top: 35px;
  }
}

.container img{
  width: 100%;
}

.row{
  text-align: center;
  font-size: 29px;
  color: green;
}

@media screen and (max-width:426px){
  .row{
    font-size: 14px;
  }
  .mobile{
    margin-left: 25%;
  }
}

.Amenities img{
    width: 55%;
}

.square1{
  border-radius: 8px;
  opacity: 0;
  transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
  .square1{
  transition: opacity 4s ease, transform 4s ease;
}
}

.square-transition1{
  opacity: 1;
  transform: none;
}

.square2{
  border-radius: 8px;
  opacity: 0;
  transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
  .square2{
  transition: opacity 4s ease, transform 4s ease;
}
}

.square-transition2{
  opacity: 1;
  transform: none;
}

.square3{
  border-radius: 8px;
  opacity: 0;
  transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
  .square3{
  transition: opacity 4s ease, transform 4s ease;
}
}

.square-transition3{
  opacity: 1;
  transform: none;
}

.square4{
  border-radius: 8px;
  opacity: 0;
  transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
  .square4{
  transition: opacity 4s ease, transform 4s ease;
}
}

.square-transition4{
  opacity: 1;
  transform: none;
}

.square5{
  border-radius: 8px;
  opacity: 0;
  transform: scale(1.1);
}

@media (prefers-reduced-motion: no-preference) {
  .square5{
  transition: opacity 4s ease, transform 4s ease;
}
}

.square-transition5{
  opacity: 1;
  transform: none;
}

.About-Us{
  padding-bottom: 20px;
	width: 100%;
}

.About-Us img{
		width: 313px;
		margin: 9px 24px 0 11px;
		float: left;
}

#Gallery img{
  padding-top: 20px;
}

@media screen and (max-width:426px) {
  p{
    margin-left: 10px;
  }
  .About-Us img{
    width: 182px;
  }
}
.Aboutustext {
		display: inline;
	}

  h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: red;
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .contact-us-item{
    font-size: 78px;
    color: red;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 50px;
  }

  @media screen and (max-width:426px) {
    .contact-us-item{
      font-size: 44px;
      margin-top: 15px;
    }
    .address, .address-1{
      font-size: 20px!important;
      text-align: center;
      margin-left: 0px!important;
    }
    .sub-address{
      text-align: center;
      font-size: 10px;
      margin-left: 8px!important;
      margin-right: 8px!important;
      margin-top: 0px!important;
    }
    .Contact-us iframe{
      float: none!important;
      width: 50%;
      height: 20%;
      margin-left: 25%;
      margin-right: 25%!important;
      margin-top: 4px!important;
    }
    .tel{
      font-size: 10px;
      text-align: center;
      margin-left: 38%!important;
    }
  }

  .Contact-us iframe{
    float: right;
    margin-right: 100px;
    margin-top: -176px;
  }

  .address{
    font-size: 30px;
    margin-left: 200px;
  }

  .sub-address{
    margin-left: 200px;
    margin-top: 10px;
  }

  .address-1{
    font-size: 30px;
    margin-left: 200px;
    margin-top: 39px;
  }

  .tel{
    color: black;
    margin-left: 200px;
    margin-top: 10px;
    text-decoration: none;
  }

  footer{
    background-color: #333;
    color: white;
    margin-top: 10px;
  }

  @media screen and (max-width:426px) {
    footer{
      width: 100%;
      font-size: 10px;
      margin-top: 0px;
    }    
  }